:root {
    --black: #ad610b;
    --white: #dbd091;
    --blackMarked: #0c7975;
    --whiteMarked: #25a29e;
    --marked: #c33030;
    --mainFont: "Lora", serif;
    --secondaryFont: "Bodoni 72 Smallcaps";
  }

* {
    margin: 0;
    padding: 0;
}

.chessGame {

    display: flex;
    flex-direction: row;
    height: 44em;
    width: 59em;
    border: 1em;
    border-color: var(--black);
    border-style: solid;
    background-color: var(--black);


}

.board {
    margin: 1em;
    border: 1em;
    border-color: white;
    border-style: solid;
    height: 40em;
    width: 40em;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.piece {
    margin: 0.5em;
    position: absolute;
    height: 4em;
    width: 4em;

}

.sidepiece {
    margin: 0.2em;
    margin-top: 1em;
    position: relative;
    height: 2.8em;
    width: 2.8em;
}

.sideBoard {
    margin: 1em;
    height: 42em;
    width: 15em;
    background-color: var(--white);

}

.sideblack {
    height: 18em;
    width: 13em;
    background-color: var(--white);

}

.sideSettings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6em;
    width: 13em;
    background-color: var(--black);

}

.sidewhite {
    height: 18em;
    width: 13em;
    background-color: var(--white);

}

.blackTurn {
    border-color: black;

}

.row {
    display: flex;
    flex-direction: row;

}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    width: 5em;

}

.button {
    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    border-radius: 0;
    border: 00;
    height: 3em;
    width: 4.7em;
    padding: 0.2em;
    background-color: #897d70;
}

.black {
    background-color: var(--black);

}

.white {
    background-color: var(--white);

}

.marked {
    background-color: var(--marked);

}

.validMoveBlack {
    background-color: var(--blackMarked);

}

.validMoveWhite {
    background-color: var(--whiteMarked);
    
}

#winner {
    font-size: 6em;
    position: absolute;
    align-self: center;
    text-align: center;
}

.winnerblack {
    color: black;
    filter: drop-shadow(0px 0px 5px gray);

}

.winnerwhite {
    color: white;
    filter: drop-shadow(0px 0px 5px black);
    
}

.winnerdraw {
    color: gray;
}

.markButton {
    background-color: rgb(183, 27, 21);
}
